[Unit]
Description=Trad Bot Analytics Pipeline Finalize Timer
Requires=trad-bot-analytics-finalize.service

[Timer]
OnCalendar=*-*-* 10:05:00
Persistent=true
RandomizedDelaySec=0
AccuracySec=1min

[Install]
WantedBy=timers.target